body{
    margin: 0;
    font-family: 'Questrial', sans-serif;
  }

nav{
    display: flex;
    padding: 0 8%;
    background-color: white;
  }

  #logo{
    margin: auto 0;
    width: 50px;
  }

  nav ul{
    padding: 0;
    margin: auto;
    margin-right: 0;
  }

  nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    line-height: 3;
    color: black;
    font-weight: 300;
    cursor: pointer;
  }

  #home{
    color: #81ca00;
    border-bottom: 2px solid #81ca00;
  }
  
  header{
    background-image: url(../images/146.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 8%;
    overflow-wrap: break-word;
  }

  header h1{
    font-size: 75px;
    font-weight: 400;
  }

  header p{
      font-size: 25px;
  }
  .nation{
    position: absolute;
  }

  .nation img{
      display: inline-flex;
      width: 20%;
      height: 20%;
  }

  .nation section{
      background-color: #81ca00;
      display: inline-flex;
  }

  header .nation p{
      font-size: 15px;
  }

  header .nation h2{
    font-size: 20px;
}

.right-box{    
    width: 350px;
    height: 150px;
    margin-left: 6%;
    background-image: url(../images/IMG-20200507-WA0081.jpg);
    background-size: cover;
    background-position: right;
    background-repeat:  no-repeat;
    height:400px;
    position: absolute;
}

.left-box{
    width: 50%;
    text-align: left;
    line-height: 250%;
    letter-spacing: 0.5px;
}
