* {
    box-sizing: border-box;
    
  }
  
  body {
    margin: 0px;
    position:relative;
    height:auto;
    width:100%;
    background-color:#dbdbdb;
    overflow-x:hidden;
   }
   
   .navbar-nav>li>a:hover, .navbar-nav>li>a:focus{ text-decoration: none; background-color: green; }
   
  .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus { outline: none; box-shadow: none; }
  
  .navbar-brand{
          height:70px; 
          width:70px;
          border-radius:50%;
                  }
   .header{
          width:100%;
          height:160px;
          background-color:#202847;
          position:relative;
          top:5px;
          color:white;
                  }
  .p1{
          position:relative;
          top:20px;
          font-size:29px;
          margin-top:50px;
          margin-left:40px;
              }
  .p2{
          position:relative;
          top:20px;
          font-size:40px;
          margin-top:20px;
          margin-left:40px;
              }			
  .content{
              display:grid;
              grid-template-columns:auto;
              grid-template-rows:1fr 1fr 2fr;
              position:relative;
           top:9em;
           width:100%;
          height:180px;
                  }
                  
  .page1{
          background-color:white;
          padding:5px 10px;
          height:200px;
              }
  .page2{
          background-color:white;
          padding:5px 10px;
       
                  }
  .page3{
          background-color:white;
          padding:5px 10px;	
          height:600px;
                  }
  .dash{
          position:relative;
          left:-170px;
          top:-37px;
          width:50px;
          background-color:#36ff2e;	
          }
  .dash1{position:relative;
          left:-220px;
          top:-37px;
          width:50px;
          background-color:#36ff2e;	
          }
          
  .dash2{position:relative;
          left:180px;
          top:-37px;
          width:50px;
          background-color:#36ff2e;
              }		
  .profname{
              display:grid;
              grid-template-columns:	repeat(12,1fr);
              grid-template-rows:1fr;
              
                  }
  .profile1{
                  grid-column:1/span 6;
                  grid-row:1;			
  }
  .profile2{
                  grid-column:7/-1;
                  grid-row:1;
                  }
  input[type=text],[type=number]{
              border:1px solid #448af9;
              outline:none;
              padding:8px 80px;
                  }
  input[type=submit]{
                  background-color:#448af9;
                  border:none;
                  padding:6px 45px;
                  color:white;
                  }
  textarea{
              border:1px solid #448af9;	
              outline:none;
                  }				
  .alumni{
                  position:relative;
                  top:15px;
                  text-align:center;
                  color:white;
                      }
  
  .image{
                  background-color:gray;
            height:250px;
            position:relative;
                top:600px;
                width:100%;
                margin-top:470px;
                  }
  .read { float:right; color:#2a4eec;position:relative;}
  .image2{
            display:grid;
            grid-template-columns:repeat(12,1fr);
            grid-template-rows:1fr 1fr;
                  background-color:#e8ffe8;
            height:400px;
            position:relative;
                right:20%;
                left:10%;
                top:780px;
                width:80%;
                    }
  .first{
           margin-top:6px;
           grid-column:1/span 2;
           grid-row:1;
                  }
  .second{
              display:block;
              grid-column:3/span 10;	
              grid-row:1;
              font-size:5px;
                  }
  .third{
              display:block;
              grid-column:11/-1;
              grid-row:1;	
              }
  .fourth{
              display:inline;
              grid-column:3/span 8;
              grid-row:2;	
              }
  .pres{
          position:relative;
          padding-top:0;
          top:0;	
              }
  .lorem{
              padding-top:0;
                  }
  hr{
      position:relative;
      top:850px;
          }
  
  p{font-size:34px;}
      
  .footer{
              display:grid;	
              grid-template-columns:1fr 2fr 1fr;
              grid-template-rows:1fr;
              position:relative;
              top:870px;
              }	
  .copy{font-size:9px;}
  
  @media screen and (max-width:480px){
      html{width:100%; height:auto;}	
      body{width:100%;height:auto;}
      .navbar-brand{
          height:50px; 
          width:50px;
          border-radius:50%;
                  }
      .header{
          width:100%;
          height:160px;
          background-color:#202847;
          position:relative;
          top:35px;
          color:white;
                  }
  .p1{
          position:relative;
          top:40px;
          font-size:14px;
          margin-top:70px;
          margin-left:40px;
              }
  .p2{
          position:relative;
          top:40px;
          font-size:22px;
          margin-top:20px;
          margin-left:40px;
              }			
  .content{
           display:block;
           position:relative;
           top:8em;
           width:100%;
           padding-left:0px;
          grud-gap:none;
                  }
  .dash{
          position:relative;
          left:-15px;
          top:-25px;
          width:30px;
          background-color:#36ff2e;	
          }
  .dash1{position:relative;
          left:-45px;
          top:-25px;
          width:30px;
          background-color:#36ff2e;	
          }
          
  .dash2{position:relative;
          left:90px;
          top:-27px;
          width:30px;
          background-color:#36ff2e;
              }		
  .page1{
          background-color:white;
          font-size:14px;
       margin-top:0px;
          }
  .page2{
          margin-top:0px;
          background-color:white;
          font-size:14px;
                  }
  
  .image{
                  margin-top:190px;
                  background-color:gray;
            height:180px;
            position:relative;
                top:540px;
                width:100%;
                  }
  .image2{
                  background-color:#e8ffe8;
            height:200px;
            position:relative;
                right:20%;
                left:10%;
                top:550px;
                width:80%;
                    }			
  .page3{
       margin:0;
          background-color:white;
          font-size:4px;
          height:260px;
                  }
  hr{
          position:relative;
          bottom:0;	
          top:600px;
          margin-bottom:0;
              }
              
  p{font-size:12px;}
  
  .feed{font-size:15px;}
  
  .alumni{font-size:15px;}
  
  .fourth{font-size:9px;}
  input[type=text],[type=number]{
              border:1px solid #448af9;
              outline:none;
              padding:5px 10px;
                  }
  input[type=submit]{
                  background-color:#448af9;
                  border:none;
                  padding:4px 13px;
                  color:white;
                  }
  textarea{
              border:1px solid #448af9;
              outline:none;	
                  }			
  .footer{ 
        position:relative;
              top:620px;
              }	
      }
  
  @media screen and (min-width:490px) and (max-width:680px){
      html{width:100%; height:auto;}	
      body{width:100%;height:auto;}
      .navbar-brand{
          height:50px; 
          width:50px;
          border-radius:50%;
              
                  }
      .header{
          width:100%;
          height:160px;
          background-color:#202847;
          position:relative;
          top:35px;
          color:white;
                  }
  .p1{
          position:relative;
          top:40px;
          font-size:14px;
          margin-top:70px;
          margin-left:40px;
              }
  .p2{
          position:relative;
          top:40px;
          font-size:22px;
          margin-top:20px;
          margin-left:40px;
              }			
      .content{
           display:block;
           position:relative;
           top:8em;
           width:100%;
           padding-left:0px;
          grud-gap:none;
                  }
  .dash{
          position:relative;
          left:-160px;
          top:-25px;
          width:30px;
          background-color:#36ff2e;	
          }
  .dash1{
          position:relative;
          left:-185px;
          top:-25px;
          width:30px;
          background-color:#36ff2e;	
          }
          
  .dash2{
          position:relative;
          left:89px;
          top:-25px;
          width:30px;
          background-color:#36ff2e;
              }		
  .page1{
          background-color:white;
          font-size:14px;
       margin-top:0px;
              }
  .page2{
          margin-top:0px;
          background-color:white;
          font-size:14px;
                  }
                  
  .image{
                  margin-top:190px;
                  background-color:gray;
            height:180px;
            position:relative;
                top:540px;
                width:100%;
                  }
  .image2{
                  background-color:#e8ffe8;
            height:200px;
            position:relative;
                right:20%;
                left:10%;
                top:680px;
                width:80%;
                    }			
  .page3{
       margin:0;
          background-color:white;
          font-size:4px;
          height:260px;
                  }
  hr{
          position:relative;
          bottom:0;	
          top:720px;
          margin-bottom:0;
              }
  .footer{ 
        position:relative;
              top:730px;
              }	
  p{font-size:12px;}
  .feed{font-size:15px;}
  .alumni{font-size:15px;}
  .fourth{font-size:9px;}
  input[type=text],[type=number]{
              border:1px solid #448af9;
              outline:none;
              padding:5px 10px;
                  }
  input[type=submit]{
                  background-color:#448af9;
                  border:none;
                  padding:4px 13px;
                  color:white;
                  }
  textarea{
              border:1px solid #448af9;
              outline:none;	
                  }			
              }